<div ng-show="showConfirm" class="alert alert-warning">
    <p class="lead">Confirm</p>
        <p>Are you sure you want to {{ action }}?</p>
        <p></p>
        <div class="text-right">
        <button class="btn btn-default btn-xlarge" ng-click="cancel()">Cancel</button>
        <button class="btn btn-danger btn-xlarge" ng-click="confirm()">Confirm</button>
        </div>
</div>
<div ng-hide="showConfirm" class="panel panel-default">
    <div class="panel-heading">
        Power
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <button class="btn btn-block btn-lg btn-primary" ng-click="actionRestart()">Restart</button>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-block btn-lg btn-danger" ng-click="actionShutdown()">Shutdown</button>
            </div>
        </div>
    </div>
</div>
