<div class="row">
    <div class="col-sm-6 col-xs-12">
        <h3>Current extruder</h3>
        <div class="well well-default">
            <div class="attribute">
                <label>Type: {{ currentExtruder.kind }}</label>
            </div>
            <hr>
            <button style="width:100%" class="btn btn-lg btn-success  btn-block" ng-click="startWizard()" ng-show="wizard.step == null">Select new extruder</button>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12">
        <section id="select_new_header" ng-show="wizard.step">
            <h4>Select new extruder</h4>
        </section>
        <section id="select_home_head" ng-show="wizard.step == 'select_home_head'">
            <div class="panel panel-default">
                <div class="panel-body">
                    Homing head...
                </div>
            </div>
        </section>
        <section id="select_extruder_type" ng-show="wizard.step == 'select_extruder_type'">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Extruder type
                </div>
                <div class="panel-body">
                    <button class="btn btn-primary btn-lg btn-block" ng-click="selectType('wet')">WET</button>
                    <button class="btn btn-success btn-lg btn-block" ng-click="selectType('fuse')">FUSE</button>
                </div>
            </div>
        </section>
        <section id="select_wet_estruder" ng-show="wizard.step == 'select_wet'">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Wet Estruder
                </div>
                <div class="panel-body">
                     <div class="panel-body">
                    Install the wet syringe and click continue<br/><br/>
                    <button class="btn btn-warning btn-lg  btn-block" ng-click="wetExtruderInstalled()">Continue</button>
                </div>
            </div>
        </section>
        <section id="select_fuse_estruder" ng-show="wizard.step == 'select_fuse'">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Fuse Estruder
                </div>
                <div class="panel-body">
                    Install the fuse extruder and click continue<br/><br/>
                    <button class="btn btn-warning btn-lg  btn-block" ng-click="fuseExtruderInstalled()">Continue</button>
                </div>
            </div>
        </section>
        <section id="select_set_zero" ng-show="wizard.step == 'select_set_zero'">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Zero Extruder
                </div>
                <div class="panel-body">
                    <p>Move the syringe to the desired zero using the jog controls</p>
                    <p>When you are done click continue</p>
                    <p><label>Distance</label><br/>
                                <div class="btn-group" data-toggle="buttons-radio" id="jog_distance">
                                <button type="button" class="btn btn-primary" ng-class="{'active' : (jogScale == 0.1)}" ng-click="setJogScale(0.1)">0.1</button>
                                <button type="button" class="btn btn-primary" ng-class="{'active' : (jogScale == 1)}" ng-click="setJogScale(1)">1</button>
                                <button type="button" class="btn btn-primary" ng-class="{'active' :(jogScale == 10)}" ng-click="setJogScale(10)">10</button>
                                <button type="button" class="btn btn-primary" ng-class="{'active' :(jogScale == 100)}" ng-click="setJogScale(100)">100</button>
                            </div>
                    </p>
                    <p>
                        <button class="btn btn-default btn-lg btn-block" ng-click="jog({z: 1})">Z+</button>
                        <button class="btn btn-default btn-lg btn-block" ng-click="jog({z: -1})">Z-</button>
                    </p>


                    <button class="btn btn-warning btn-lg btn-block" ng-click="wetExtruderSetZero()">Continue</button>
                </div>
            </div>
        </section>
        <section id="select_success" ng-show="wizard.step == 'select_success'">
            <div class="alert alert-success" role="alert">
                <p>Settings saved successfully! You can start printing</p>
            </div>
            <button class="btn btn-success pull-right" ng-click="wizard.step = null">Dismiss</button>
        </section>
    </div>
</div>
