<!DOCTYPE html>
<html ng-app="ReossGui" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@joshdmiller">
    <meta name="twitter:title" content="ngBoilerplate">
    <meta name="twitter:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">
    <meta name="twitter:creator" content="@joshdmiller">
    <meta name="twitter:image:src" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
    <meta property="og:title" content="ngBoilerplate" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://bit.ly/ngBoilerplate" />
    <meta property="og:image" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846" />
    <meta property="og:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- font awesome from BootstrapCDN -->
    <link href="assets/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> -->

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

    <script type="text/javascript" src="assets/lib/jsc3d/bin/jsc3d.min.js"></script>

    <style>

      div.navbar.navbar-default.navbar-static-top {
        margin-top: 0px;
      }
    </style>
  </head>
  <body>

      <div class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true"
            ng-click="menuCollapsed = ! menuCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand">
          ReoSS<br/>Control Panel
          </div>
        </div>
        <div class="collapse navbar-collapse" collapse="menuCollapsed">
          <ul class="nav navbar-nav text-center">
            <li ui-sref-active="active">
              <a href ui-sref="connection">
                <i class="fa fa-home fa-3x"></i>
                <!-- <br/>
                Connection -->
              </a>
            </li>
            <li ui-sref-active="active">
              <a href ui-sref="status">
                <i class="fa fa-info-circle fa-3x"></i>
                <!-- <br/>
                Status -->
              </a>
            </li>
            <li ui-sref-active="active">
              <a href ui-sref="jog">
                <i class="fa fa-arrows fa-3x"></i>
                <!-- <br/>
                Status -->
              </a>
            </li>
            <li ui-sref-active="active">
              <a href ui-sref="wizard">
                <i class="fa fa-print fa-3x"></i>
                <!-- <br/>
                Status -->
              </a>
            </li>            
            <li ui-sref-active="active">
              <a href ui-sref="wet">
                <i class="fa fa-eyedropper fa-3x"></i>
                <!-- <br/>
                Status -->
              </a>
            </li>            
            <li ui-sref-active="active">
              <a href ui-sref="extruder">
                <i class="fa fa-filter fa-3x"></i>
                <!-- <br/>
                Change tool -->
              </a>
            </li>
            <!--
            <li ui-sref-active="active">
              <a href ui-sref="settings">
                <i class="fa fa-wrench fa-3x"></i><!-- <br/>
                Settings
              </a>
            </li> -->
            <!--
            <li ui-sref-active="active">
              <a href ui-sref="about">
                <i class="fa fa-question-circle fa-3x"></i><!-- <br/>
                Help
              </a>
            </li> -->
            <li ui-sref-active="active">
              <a href ui-sref="restart">
                <i class="fa fa-refresh fa-3x"></i><!-- <br/>
                Help -->
              </a>
            </li>

          </ul>
        </div>
      </div>
   

    <div class="container" ui-view="main"></div>


    <footer class="footer">
     <i class="fa fa-gear"></i> <span ng-bind="pageTitle">Change Extruder</span>
    </footer>

  </body>
</html>
